.footer {
  background-color: $color-black-500;
  color: $color-white-100;

  .container {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  .header-heading {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }

  .decoration {
    color: $color-white-100;
    display: block;
  }

  .heading {
    text-transform: uppercase;
    font-size: 2rem;
    padding-left: 1rem;
  }

  .heading-sm {
    padding-top: 2rem;
    font: 600 1.125rem/2rem $font-secondary;
    color: $color-white-100;
  }

  .copyright {
    padding: 2rem 0;
    font: 200 1rem/1.5625rem $font-secondary;
    color: $color-gray-500;
  }

  .list {
    list-style: none;
  }

  .list-heading {
    font: 400 1.5rem/2rem $font-secondary;
    padding-left: 1rem;
  }

  .list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 0;
  }

  .list .link {
    text-decoration: none;
    font: 400 1rem/2rem $font-secondary;
    color: $color-white-100;
    padding: 1rem 0;
  }
}

@media screen and ($rwd-xl) {
  .footer {
    .container {
      margin: 0 20rem 0 12.5rem;
      flex-direction: row;
      justify-content: space-between;
    }
    .heading {
      font-size: 2rem;
    }
    .left-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .right-section {
      display: flex;
    }
    .listing {
      padding: 0 0 0 6.5625rem;
    }
    .list > li {
      padding: 0.8125rem 0;
    }
    .list-header {
      padding: 1.625rem 0;
    }
    .copyright {
      padding-top: 10rem;
    }
  }
}
