.usps {
  .container {
    padding: 1rem 2.25rem 0;
  }
  .usps-item {
    margin-bottom: 4.25rem;
  }
  .header {
    display: flex;
    align-items: center;
    margin: 0 0 2rem 0;
    padding: 0 1rem;
  }
  .decoration svg {
    display: block;
  }
  ul {
    list-style: none;
  }
  .heading {
    font: italic 400 2.37rem/3.17rem $font-primary;
  }
  .content p {
    font: 400 1rem/1.625rem $font-secondary;
    color: $color-beige-500;
    max-width: 14.625rem;
    width: 100%;
    margin: 0 0 0 auto;
  }
}

@media screen and ($rwd-xl) {
  .usps {
    display: flex;
    justify-content: center;
    .container {
      margin-top: 12.0625rem;
      width: 73.1875rem;
    }
    .container ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .container ul li .content {
      margin-left: 3.8125rem;
    }
  }
}
