$color-white-100: #fff;
$color-beige-100: #fae2d6;
$color-rgb-beige-200: 250, 226, 214;
$color-beige-150: #f6ece8;
$color-beige-175: #F9F2EF;
$color-beige-200: #edd5c8;
$color-beige-250: #DCCBC6;
$color-beige-300: #cfadac;
$color-beige-500: #9d8888;
$color-beige-600: #967675;

$color-black-100: #000;
$color-black-300: #111;
$color-black-500: #23242c;

$color-gray-100: #f6f6f7;
$color-gray-200: #f1f1f2;
$color-gray-500: #a0a0a0;

$font-primary: 'Playfair Display', serif;
$font-secondary: 'Poppins', sans-serif;

$rwd-xs: 'min-width: 375px';
$rwd-sm: 'min-width: 512px';
$rwd-md: 'min-width: 768px';
$rwd-lg: 'min-width: 1024px';
$rwd-xl: 'min-width: 1200px';
$rwd-mobile-max: 'max-width: 400px';
